@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

.page {
  background-color: #000000;
  max-width: 100%;
  min-width: 320px;
  color: #FFFFFF;
  margin: auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  max-width: 880px;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454b3;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .header {
    padding-top: 28px;
    padding-bottom: 31.6px;
  }
}

.header__logo {
  background-image: url(../images/logo.svg);
  width: 142px;
  height: 33px;
  background-size: cover;
}

@media screen and (max-width: 890px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 700px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}

.content {
  max-width: 880px;
  margin: auto;
}

@media screen and (max-width: 890px) {
  .content {
    margin-left: 19px;
    margin-right: 19px;
  }
}

.profile {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

@media screen and (max-width: 700px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
    align-items: center;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  display: flex;
  flex-direction: column;
}

.profile__info-block {
  display: flex;
  align-items: center;
}

.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  padding-right: 18px;
  padding-bottom: 16px;
}

@media screen and (max-width: 700px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    padding: 26px 10px 14px 0;
  }
}

.profile__edit-button {
  background-image: url(../images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  padding: 0;
  background-color: #000000;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

@media screen and (max-width: 700px) {
  .profile__edit-button {
    background-size: 7.5px;
    width: 18px;
    height: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__about-me {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .profile__about-me {
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 36px;
    margin: auto;
  }
}

.profile__add-button {
  background-image: url(../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  width: 150px;
  height: 50px;
  border: 1px solid #FFFFFF;
  padding: 0;
  background-color: #000000;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .profile__add-button {
    background-size: 16px;
    width: 282px;
  }
}

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
  justify-items: center;
  padding-top: 51px;
}

@media screen and (max-width: 700px) {
  .elements {
    padding-top: 36px;
  }
}

.element {
  border-radius: 10px;
  overflow: hidden;
}

.element__image {
  width: 282px;
  object-fit: cover;
}

.element__description {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: baseline;
  padding: 0 20px;
}

.element__name {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 25px 0 31px;
  color: #000000;
  max-width: 195px;
}

.element__like-button {
  background-image: url(../images/like-button.svg);
  background-position: center;
  background-color: #FFFFFF;
  width: 22px;
  height: 19px;
  padding: 0;
  cursor: pointer;
  border: none;
  transition: opacity 0.2s linear;
}

.element__like-button:hover {
  opacity: 0.5;
}

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.popup__container {
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 430px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.popup__heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #000000;
  margin: 0;
  padding-top: 34px;
  align-self: flex-start;
}

.popup__name {
  padding: 54px 0 43px;
  margin: 0;
  border: none;

}

.popup__submit-button {
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  width: 358px;
  height: 50px;
}

.footer {
  padding-top: 67px;
  padding-bottom: 60px;
  max-width: 880px;
  margin: auto;
}

@media screen and (max-width: 890px) {
  .footer {
    margin-left: 19px;
    margin-right: 19px;
    padding-bottom: 36px;
    padding-top: 48px;
  }
}

.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}
